@import 'colors';

h5 span.favorite {
  font-size: 18px;
  padding-left: 15px;

  form {
    display: inline-block;
    margin: 0;
    div { margin: 0 0 10px; }
  }

  .button {
    font-weight: normal;
    padding: 4px;
    margin: 0;
  }
}

.project {
  border-bottom: 1px solid $cmLightGrey;
  &.row {
    margin-bottom: 15px;
  }
}

.project_links {
  margin-bottom: 6%;
}

.tag_list {
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  margin-bottom: 0;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  
  div {
    display: inline-block;
    padding-right: 10px;
  }
}

.purple { background-color: $cmPurple; }
.teal   { background-color: $cmTeal; }